.footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: inherit;
}
.footer__copyright {
  margin-top: 180px;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: inherit;
  }
  .footer__copyright {
    margin-top: 180px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: inherit;
  }
  .footer__copyright {
    margin-bottom: 24px;
  }
}
