.grid {
  background-color: #2a2c2f;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 16px;
  margin-top: 118px;
  justify-items: center;
}
@media screen and (max-width: 768px) {
  .grid {
    max-width: 720px;
    max-height: 1140px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 320px) {
  .grid {
    max-width: 288px;
    max-height: 1812px;
    grid-template-columns: repeat(1, 1fr);
  }
}
