.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__logo {
  margin: 34px auto 0;
  max-width: 255px;
  max-height: 69px;
}
@media screen and (max-width: 768px) {
  .header__logo {
    margin: 30px auto 0;
    max-width: 254px;
    max-height: 66px;
  }
}
@media screen and (max-width: 320px) {
  .header__logo {
    margin: 20px auto 0;
    max-width: 188px;
    max-height: 52px;
  }
}
