.intro {
  max-width: 830px;
  display: flex;
  flex-direction: column;
  font-weight: 200;
  font-family: "mifuente";
  margin-left: 148px;
}
.intro__photo-title {
  font-family: "mifuente";
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  max-width: 830px;
  max-height: 174px;
  margin-top: 92px;
}
.intro__photo-subtitle {
  font-family: "mifuente";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}
.intro__photo-author {
  font-family: "mifuente";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
}
.intro__photo-descpition {
  font-family: "mifuente";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-family: "mifuente";
    justify-items: center;
    margin-left: 24px;
    margin-right: 24px;
  }
  .intro__photo-title {
    font-family: "mifuente";
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
    max-width: 830px;
    max-height: 174px;
  }
  .intro__photo-subtitle {
    font-family: "mifuente";
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
  }
  .intro__photo-author {
    font-family: "mifuente";
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    margin-right: 24px;
  }
  .intro__photo-descpition {
    font-family: "mifuente";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  .intro {
    max-width: 830px;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-family: "mifuente";
  }
}
@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-family: "mifuente";
    margin-left: 16px;
  }

  .intro__photo-title {
    font-family: "mifuente";
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
    max-width: 830px;
  }
  .intro__photo-subtitle {
    font-family: "mifuente";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }
  .intro__photo-author {
    font-family: "mifuente";
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
  }
  .intro__photo-descpition {
    font-family: "mifuente";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
}
